*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary

.gitattributes text eol=lf
*.js text eol=lf
*.json text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.sh text eol=lf
